@import "styles/vars";
@import "styles/mixins";

.react-select-container {
    width: 68px;
    border: 1.01px solid rgba(18, 18, 18, 0.2);
    @include transition(border-color);
    border-radius: 201px;

    &:is(:hover, :focus) {
        border-color: $osnovniy;

        & .react-select__single-value {
            color: $osnovniy;
        }

        & .react-select__indicator svg {
            fill: $osnovniy;
        }

    }

    & .react-select {
        &__control {
            justify-content: center;
            gap: 6px;
            width: 68px;
            min-height: 49px;
            cursor: pointer;
        }

        &__value-container {
            display: flex;
            flex: none;
        }

        &__single-value {
            letter-spacing: -0.01em;
            @include transition(color);
        }

        &__indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1px;

            & svg {
                width: 13px;
                height: 13px;
                fill: $text-main;
                @include transition(fill);
            }
        }

        &__menu {
            right: 0;
            top: calc(100% + 19px);
            display: flex;
            align-items: center;
            width: 194px;
            height: 122px;
            border: 10.07px solid $stroke;
            border-radius: 20px;
            box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
            background: $fon;
            padding: 0 24px;
        }

        &__menu-list {
            display: inline-flex;
            flex-direction: column;
            gap: 12px;
            padding-left: 24px;
        }

        &__option {
            line-height: 1.5;
            @include transition(color);
            cursor: pointer;
            padding: 4px 0;

            &:is(:hover, :focus) {
                color: $osnovniy;
            }
        }
    }

}