@import "fonts";

//colors
$tekst-temniy: #475467;
$text-main: #014631;
$tekst-svіtliy: #edfaf6;
$osnovniy: #45b288;
$fon: #fefefe;
$text-content: #265543;
$link: #45b288;
$stroke: #e1f4ee;

//fonts
$font-family: "Innerspace", sans-serif;
$second-family: "Ermilov", sans-serif;