@import "styles/vars";

.header {
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: $fon;
    padding: 16px 0;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}